.contacts {
  padding-top: 50px;
  background-position: center top 185px;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #2C3135;
    text-align: center;

    @include tablet{
      margin-bottom: 6px;
    }
  }

  &__descr {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #808386;
    margin-bottom: 50px;
    @include small-tablet {
      max-width: 300px;
      margin: 0 auto 50px auto;
    }
  }

  &__form {
    max-width: 615px;
    width: 100%;
    margin-left: auto;
    padding: 40px;
    padding-top: 48px;
    border-radius: 10px;
    background-color: $color-white;

    @include small-tablet {
      padding: 16px;
      padding-top: 24px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 38px;

    @include small-tablet {
      margin-bottom: 24px;
    }
  }

  &__label {
    display: inline-block;
    width: 100%;
    margin-bottom: 24px;
    padding: 7px 10px;
    border: 2px solid #C8CDD0;
    border-radius: 6px;

    &--character {
      position: relative;
      padding-bottom: 30px;
    }

    &:focus-within {
      border-color: $color-blue;
    }
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;

    &::placeholder {
      font-size: 16px;
      line-height: 22px;
      color: #C8CDD0;
    }
  }

  &__textarea {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    height: 170px;
  }

  &__character {
    font-size: 14px;
    color: #A7ACAE;
    position: absolute;
    right: 16px;
    bottom: 10px;
  }

  &__apply {
    max-width: 450px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;

    @include small-tablet {
      margin-bottom: 15px;
    }
  }

  &__box {
    position: relative;
  }

  &__check {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }

  .contacts__check:checked+.contacts__checkbox {
    background-image: url('../images/icons/arrow-apply.svg');
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid $color-blue;
    border-radius: 5px;
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
  }

  &__text {
    font-size: 12px;
    padding-left: 30px;
  }

  &__btn {
    max-width: 360px;
    width: 100%;
  }

  @include mobile {
    padding-top: 15px;
  }
}

.contact-wrapper {
  padding-top: 40px;
  padding-bottom: 150px;
  display: flex;
  justify-content: flex-end;
  padding-right: 140px;

  @include tablet {
    margin: 0 auto;
   align-items: center;
   display: block;
  }

  @include mobile {
    margin: 0 auto;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 150px;
  }
}