.education-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 24px;
  box-shadow: 0px 0px 3.63991px 1.81995px rgb(0 0 0 / 25%);
  border-radius: 6px;
  background-color: $color-white;
  overflow: hidden;
  position: relative;
  opacity: 1.2;

  &__img {
    width: 100%;
    height: 132px;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__label {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 600px;
    text-transform: uppercase;
    border-radius: 30px;
    background: $color-white;
    border: 1px solid $color-orange;
    border-radius: 40px;
    color: $color-orange;
    position: absolute;
    left: 15px;
    top: 15px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 24px;
    padding-left: 24px;
    position: relative;
    border-left: 4px solid $color-orange;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__lesson {
    font-weight: 600;
    font-size: 14px;
    color: #7A848A;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    margin-right: 15px;
  }

  &__descr {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 16px;
  }

  &__price {
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
  }

  &__highlights {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    color: $color-orange;
  }

  &__list {
    margin-bottom: 24px;
    margin-left: -4px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__benefit {
    display: inline-block;
    padding-left: 31px;
    font-size: 16px;
    background-image: url('../images/icons/apply.svg');
    background-size: 24px;
    background-position: left center;
    background-repeat: no-repeat;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 43px;
  }

  &__info {
    font-size: 16px;
    padding-top: 2px;
    padding-left: 24px;
    background-size: 24px;
    background-position: left center;
    background-repeat: no-repeat;

    &--user {
      background-image: url('../images/icons/user.svg');
    }

    &--time {
      background-image: url('../images/icons/time.svg');
    }

    &--city {
      background-image: url('../images/icons/marker.svg');
    }
  }

  &__link {
    align-self: flex-start;
    margin-top: auto;

    @include small-tablet {
      width: 100%;
    }
  }

  &--products {
    .education-article__img {
      height: 80px;
    }

    .education-article__title {
      margin-bottom: 0px;
    }

    .education-article__text {
      margin-bottom: 24px;
    }
  }
}