.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding: 15px;
  display: flex;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease, visibility 0.3s ease, background-color 0.3s ease;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
  }

  &__container {
    display: inline-block;
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: auto;
    background-color: $color-white;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: default;
    text-align: left;
    transform: scale(0);
    transition: transform 0.3s ease;
  }

  &__content {
    width: 100%;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba($color-white, 0.6);
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 10;

    &::before,
    &::after {
      content: "";
      width: 45%;
      height: 2px;
      border-radius: 2px;
      background-color: $color-finnegan;
      position: absolute;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }

    @include small-tablet {
      width: 28px;
      height: 28px;

      &::before,
      &::after {
        height: 1px;
      }
    }
  }

  &__img {
    width: 100%;
    max-height: 940px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &--visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &::before {
      opacity: 1;
    }

    .modal__container {
      transform: scale(1);
    }
  }
}